<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap'
      rel='stylesheet' />

    <link href='https://fonts.googleapis.com/icon?family=Material+Icons+Outlined' rel='stylesheet' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css'
      integrity='sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=='
      crossorigin='anonymous' referrerpolicy='no-referrer' />
    <style>
      body {
        display: flex;
        margin: 0px;
        padding: 0px;
        background-image: url(https://i.imghippo.com/files/gTq3d1715281830.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }

      h1 {
        font-family: 'Montserrat';
        text-align: center;
        margin-top: 3.5%;
        margin-bottom: 3%;
        font-size: 43px;
      }

      .main {
        display:
          flex;
        align-items: center;
        justify-content: space-between;
        width: 80%
      }

      img {
        height: 20vw;
        width: 20vw;
        border: solid 3px;
        border-radius: 50%;
        margin-right: 30px;
      }

      .subDetails {
        line-height: 2;
        font-weight: bolder;
        font-size: 1.6em;
        font-family: 'Roboto Slab';
        width: 100%;
        overflow-wrap:
          break-word;
      }

      .button-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 5vh;
        padding: 2vh 3vw;
      }

      .button {
        height: 8vh;
        width: 20vw;
        font-size: 1.3rem;
        font-weight: bold;
        border-radius: 10px;
        color: black;
        background-color: white;
      }

      .button:hover {
        font-size: 1.6rem;
        color: black;
        background-color:
          lightgreen;
        transition: 200ms;
      }

      a {
        text-decoration: none;
        color: black
      }

      body {
        margin: 0px;
        padding: 0px;
        background-image:
          url(https://i.imghippo.com/files/gTq3d1715281830.jpg);
        background-repeat:
          no-repeat;
        background-size: cover;
      }

      .right {
        margin-top: 5vh;
        width: 50vw;
      }

      .centerpage {
        display: flex;
      }

      #sidebar {
        grid-area: sidebar;
        height: 100%;
        background-color: #263043;
        overflow-y: auto;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        width: 15vw;
        padding-top: 3vh;
        line-height: 2;
        box-sizing: border-box;
      }

      .sidebar-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 30px 30px 30px;
        margin-bottom: 30px;
      }

      .sidebar-title>span {
        display: none;
      }

      .sidebar-brand {
        margin-top: 15px;
        font-size: 20px;
        font-weight: 700;
      }

      .sidebar-list {
        padding: 0;
        margin-top: 15px;
        list-style-type: none;
      }

      .sidebar-list-item {
        padding: 20px 20px 20px 20px;
        font-size: 18px;
      }

      .sidebar-list-item:hover {
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
      }

      .sidebar-list-item>a {
        text-decoration: none;
        color: #9e9ea4;
      }

      .sidebar-responsive {
        display: inline !important;
        position: absolute;
        /*
      the z-index of the ApexCharts is 11
      we want the z-index of the sidebar higher so that
      the charts are not showing over the sidebar 
      on small screens
    */
        z-index: 12 !important;
      }

      .grid-container {
        display: grid;
        grid-template-columns: 260px 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas:
          'sidebar header header header'
          'sidebar main main main';
        height: 100vh;
      }
    </style>

    <title>Document</title>
  </head>

  <body>
    {{>sidebar}}
    <div class='centerpage'>

      <div class='content'>
        <h1>PRODUCT DETAILS</h1><br />

        <div class='main'>
          <div class='left'>
            <img height='' src={{product.imageUrl}} />
          </div>
          <div class='right'>
            <div class='subDetails'>Name : {{product.name}} </div>
            <div class='subDetails'>Category : {{product.category}} </div>
            <div class='subDetails'>Description : {{product.description}}</div>
            <div class='subDetails'>Price : {{product.price}}</div>
            <div class='subDetails'>Seller : {{product.seller}}</div>
            <div class='subDetails'>Date : {{product.date}}</div>
            <div class='button-container'>
              <a href='updateproduct/{{product._id}}'><button class='button'>Update</button></a>
              <a href='deleteproduct/{{product._id}}'><button class='button'>Delete</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>