<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
      integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="../../public/totop.css" />
    <link rel="stylesheet" href="../../public/endpage.css" />
    <link rel="stylesheet" href="../../public/usernav.css">
    <title>Document</title>

<style>
      @import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

      * {
        margin: 0;
        padding: 0;
      }

      body {
        font-family: 'Anek Devanagari',
          sans-serif;
      }
      .product_card {
        width: 300px;
        height: 420px;
        margin: 20px;
        overflow: hidden;
      
        white-space: nowrap;

        img {
          border-radius: 20px;
          height: 250px;
          width: 250px;
          margin: 25px 25px 20px 25px;
        }

        background-color: #e9e7e760;
        box-shadow: 2px 2px 4px gray;
        border-radius: 20px;
        display: inline-block;
      }

      .product_card:hover {
        filter: drop-shadow(2px 2px 10px rgba(128, 128, 128, 0.188))
      }

      .pdescription {
        text-overflow: ellipsis;
        font-size: larger;
        overflow: hidden;
        height: 200px;
        width: 250px;
        margin:
          0px 25px 25px 25px;
        line-height: 24px;

        h4 {
          color: green;
        }
      }

      #price {
        font-weight: 600;
      }

      #pd {
        color: gray;
      }

      #heading {
        font-size: 44px;
        margin-top: 30px;
        margin-bottom: 25px;
        text-align: center;
        color: rgb(4, 95, 4);
        font-weight: bold;
      }

      .product {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
      h2{
        margin-top: 4px;
      }
    </style>

  </head>

  <body>
    {{>navbar}}
    <h1 id="heading">Admin Products List</h1>

    <div class="product">
      {{#each products as |p|}}

      <div class="product_card" data-aos="fade-up">
        <img src="{{p.imageUrl}}" data-aos="zoom-in" /><br />
        <div class="pdescription">
          <h2>
            {{p.name}}
          </h2>
          <p id="pd"> {{p.description}}</p>
          <span id="price">&#8377;
            {{p.price}}

          </span><br />
          <h4>40% OFF</h4>
          {{#if p.reviews}}
          <h5>Reviews</h5>
          <ul>
            {{#each p.reviews as |r|}}
            <li>{{r.details}}</li>
            {{/each}}
          </ul>
          {{/if}}
          <h3><a href="{{p._id}}">GET Info</a></h3>
        </div>
      </div>
      {{/each}}

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
      integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      AOS.init({ offset: 200, Duration: 1000 })

    </script>

    <a href="#" class="to-top">
      <i class="fas fa-chevron-up"></i>
    </a>
    <script src="../../toTop.js"></script>

    {{>endpage}}
  </body>
</html>