<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css'

    /><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
    <link rel='stylesheet' href='../../public/usernav.css' />
    <style>
      * { margin: 0; } 

    </style>
    <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
      * { margin: 0; padding: 0; } body {
        background-color: white; font-family: 'Anek Devanagari',
      sans-serif; } 
      .pop-out {
  transform: scale(0); /* Initially scaled down */
  transition: transform 0.4s ease-out; /* Smooth transition */
}

.pop-out.active {
  transform: scale(1); /* Scaled up when active */
}

      
      .product_card {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 300px; height: 420px; margin: 20px; img {
      border-radius: 20px; height: 250px; width: 250px; margin: 25px 25px 20px
      25px; } background-color: #e9e7e760; box-shadow: 2px 2px 4px gray;
      border-radius: 20px; display: inline-block; } .product_card:hover {
      filter: drop-shadow(2px 2px 10px rgba(128, 128, 128, 0.188)) }
      .pdescription { overflow: hidden; 
       margin: 0px 25px 25px 25px; line-height: 20px; h4 { color:
      green; } } #price {} #pd { color: gray; } #heading { font-size: 44px;
      margin-top: 30px; margin-bottom: 25px; text-align: center; color: rgb(4,
      95, 4); font-weight: bold; } .product { display: flex; flex-wrap: wrap;
      justify-content: space-evenly; margin-top: 5vh;}
    </style>
    <style>
      #overlay{
        border-radius:20px; box-shadow: 0px 2px 5px 5px rgba(0,0,0,0.1); margin: auto; position: fixed; top: 50%; left: 50%;
        z-index:5; display: none; background-color: white; height: 70vh; width: 75%; padding:20px;
        overflow: hidden; }
      .close{ position: fixed; z-index: 10; border: none;
      background-color: transparent; font-size: 2rem; }
      h2{
       margin-top: 5px;
      }
      
    </style>

  </head>

  <body>
    {{>usernavbar}}

    {{!-- <ul>
            {{#each products as |p|}}
            <li>
                <img height="150px" src="{{p.imageUrl}}"><br>
                Name:<span>{{p.name}}</span><br>
                Description: <span>
                    {{p.description}}

                </span><br>
                Price: <span>{{p.price}}</span><br>
                <a href="{{p._id}}">Get Info</a>
                <a href="/user/cart/add/{{p._id}}">Add to Cart</a>
            </li>
            {{/each}}
        </ul> --}}

    <div class='product'>
      {{#each products as |p|}}
        <a href="/user/products/{{p._id}}" class="a">
        {{!-- <button
          class='load'
          style='background-color: transparent;border:none'
          onclick='holdForThreeSeconds(`{{p._id}}`)'
        > --}}
          <div class='product_card' data-product-id='{{p._id}}' data-aos='fade-up'>
            <img src='{{p.imageUrl}}'draggable="false" class="a" data-aos='zoom-in'><br />
            <div class='pdescription'>
              <h2>
                {{p.name}}
              </h2>

              <span id='pd'>{{p.description}}</span><br />
              <span id='price'>&#8377;
                {{p.price}}

              </span><br />
              <h4>40% OFF</h4>
              {{!-- {{#if p.reviews}}
              <h5>Reviews</h5>
              <ul>
                {{#each p.reviews as |r|}}
                  <li>{{r.details}}</li>
                {{/each}}
              </ul>
            {{/if}} --}}
              <div class='addtocart' style='font-weight: bold;'><a class="a"
                  href='/user/cart/add/{{p._id}}'
                >Add to Cart</a></div>
              
              <div class='getinfo' style='font-weight: bold;'><a class="a"
                  href='/user/products/{{p._id}}'
                >Get Info</a></div>
            </div>
          </div>
          </a>
          {{!-- </button> --}}
      {{/each}}

    </div>
    <button class='close pop-out' onclick='close()'><i
        class='fa-regular fa-circle-xmark'
        style='color: #63E6BE;'
      ></i></button>
    <div id='overlay' class="pop-out"></div>
    <script>
       function togglePopOut() {
      const popOutElement = document.getElementById('overlay');
      const popOutElement2 = document.querySelector('.close');
      popOutElement.classList.toggle('active');
      popOutElement2.classList.toggle('active');
      }
  




  function centerOverlay() {
  const overlay = document.getElementById('overlay');
  const viewportHeight = window.innerHeight;
  const viewportWidth = window.innerWidth;
  const overlayHeight = overlay.offsetHeight;
  const overlayWidth = overlay.offsetWidth;

  const topOffset = Math.max(0, (viewportHeight - overlayHeight) / 2);
  const leftOffset = Math.max(0, (viewportWidth - overlayWidth) / 2);

  overlay.style.top = `${topOffset}px`;
  overlay.style.left = `${leftOffset}px`;
  document.querySelector('.close').style.top=`${topOffset+20 }px`;
  document.querySelector('.close').style.left='1250px';
}






      function load(productid){ fetch(`/user/products/${productid}`)
      .then(res=>res.text()) .then(html =>{
      document.body.style.overflow='hidden'
      document.getElementById('overlay').style.display='block'
      centerOverlay();
      togglePopOut();
      document.getElementById('overlay').innerHTML=html;
      document.querySelector('.productContent').style='margin:0'
      document.querySelector('.a').style.pointerEvents='none';
      document.querySelector('.navbarrr').style.display='none'
      document.querySelector('.close').style.display='block';
      document.querySelector('.review-section').style.display='none';
      document.querySelector('.endpage').style.display='none';
      document.querySelector('.product').style='  filter: blur(4px);}'
      document.body.style.backgroundColor='white';
      document.querySelectorAll('.a').forEach(Element=>{
      Element.style.pointerEvents='none';
      console.log(Element)
      });
      }) .catch(Error=> console.log("error")) 
      }

      document.querySelectorAll('.product_card').forEach(card => {
        let holdtimer;
        card.addEventListener('mousedown',function(){
          const productId=this.dataset.productId;
          holdtimer=setTimeout(()=>{
            load(productId);
          },1000);

        });
        card.addEventListener('mouseup',()=>{
          clearTimeout
          (holdtimer);
        });
      })

      function close(){
      console.log("pressed")
      togglePopOut();
      {{!-- document.getElementById('overlay').style.display='none' --}}
      document.querySelector('.product').style='  filter: blur(0px);}'
      document.querySelector('.close').style.display='none';
      document.querySelectorAll('.load').forEach(Element=>{
      Element.disabled=false; }); 
      document.body.style.overflow='auto'
      document.querySelectorAll('.a').forEach(Element=>{
      Element.style.pointerEvents='auto';
      console.log(Element)
      });
      }
      document.querySelector('.close').addEventListener('click',close);
      document.querySelector('.close').style.display='none';
    </script>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
      integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      AOS.init({ offset: 200, Duration: 1000 })

    </script>

</html>