<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        body{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .productContent{
            border: 1px solid black;
            width: 80%;
            display: flex;
            }
        .productContent-1{
            display: flex;
            width: 100%;
        }
        .name{
            font-size: 2rem;
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid grey;
        }
        .image,img{
            height: 350px;
            width: 350px;
            border: 1px solid black;
            border-radius: 20px;

        }
        .abc{
            display: flex;
            flex-direction: column;
            margin-left: 60px;
            width: 100%;
            justify-content: space-evenly;
        }
        
    </style>
    <style>
        .navbar { width: 100%; height: 12vh; background-color:
      lightgreen; display: flex; align-items: center; justify-content: center;
      box-sizing: border-box; padding: 1vh; padding-top: 0; padding-bottom: 0; }
      .bordr { border: 2px solid black; } .kklogo { height: 18vh; width: 8vw;
      background-size: contain; background-repeat: no-repeat;
      background-position: center; background-image: url("KISAN_KART.png"); }
      .uppercontent { box-sizing: border-box; padding: 1vh; display: flex;
      flex-direction: row; justify-content: space-evenly; align-items: center; }
      /* .lowercontent { height: 30%; display: flex; align-items: center;
      box-sizing: border-box; background-color: rgba(91, 167, 91, 0.747);
      border-radius: 100px; } */ .navcontent { height: 100%; width: 100%;
      display: flex; flex-direction: column; justify-content: center; } .size1 {
      width: 13vw; height: 100%; } .location { display: flex; align-items:
      center; } .loclogo, .fa-location-dot { font-size: 2vw; margin: 0.4vh; }
      .searchbar { width: 50vw; height: 5vh; display: flex; align-items: center;
      } #searchInput { width: 90%; height: 4.8vh; border-top-right-radius: 0;
      border-bottom-right-radius: 0; border-top-left-radius: 100px;
      border-bottom-left-radius: 100px; } .fa-magnifying-glass { font-size:
      1.7vw; } .searchbutton { width: 4vw; height: 4.99vh; border-radius: 0;
      background-color: white; border-bottom-right-radius: 100px;
      border-top-right-radius: 100px; border: none; } .size2 { height: 8vh;
      width: 5vw; } .size3 { height: 8vh; width: 10vw; } .cart { display: flex;
      flex-wrap: wrap; align-items: center; } .cartlogo { height: 4vh; width:
      5vw; } .carttext { font-size: 2vh; font-weight: bold; } .fa-cart-shopping
      { font-size: 1.8vw; } a { text-decoration: none; color: black; } .login {
      display: flex; flex-direction: column; align-items: center;
      justify-content: center; justify-content: space-evenly; } .loginupper {
      display: flex; text-align: right; height: fit-content; padding: 0.3vh; }
      .loginbottom { height: fit-content; z-index: 1; } .username { position:
      relative; height: fit-content; padding: 0.2vh; top: 1.5vh; text-align:
      left; font-weight: bold; font-size: 2vh; } .joinasseller { display: flex;
      flex-direction: column; justify-content: space-evenly; justify-content:
      center; padding: 0.4vh; align-items: center; font-weight: bold; }
    </style>
</head>
<body>
    {{>navbar}}
    <div class="productContent">
        <div class="productContent-1">
            <div class="image"><img height="300px" src={{product.imageUrl}}></img><br></div>
            <div class="abc">
                <div class="category">
                    {{product.category}}
                </div>
                <div class="name">
                    {{product.name}}
                </div>
                <div class="price">Price: <span>{{product.price}}₹</span></div>
                <div class="seller">Seller: <span> {{product.seller}}</span></div>
                {{!-- <div class="date">Date: <span>Date {{product.date}}</span></div> --}}
                <div class="addtocart"><a href="/user/cart/add/{{product._id}}"><button>Add To Cart</button></a></div>
            </div>
        </div>

        {{!-- <div class="productContent-2">
            <div class="review-section">
                <div class="review-section-header">
                    <div>Reviews</div> <button class="reviewBtn">Add a Review</button>
                </div>

                <div class="review-section-details hide">
                    <textarea cols="40" rows="5" type="text" name="review" id="review"
                        placeholder="Enter a review"> </textarea>
                    <button class="submitReview">Submit Review</button>
                    <div style="display: none;">{{product._id}}</div>
                </div>
                {{>reviewSection product=product}}
            </div>
        </div> --}}

        <div class="clearfix"></div>
    </div>



    <script>
        document.querySelector(".reviewBtn").addEventListener('click', (ev) => {
            ev.preventDefault();
            document.querySelector(".review-section-details").classList.toggle('hide');
        })

        document.querySelector('.submitReview').addEventListener('click', (ev) => {
            ev.preventDefault();
            let review = document.querySelector('#review').value.trim();
            console.log(review);
            let id = ev.target.nextElementSibling.innerText;
            console.log(id);
            axios.post('/user/review/add', {
                review,
                productId: id
            }).then(({ data }) => {
                // console.log(data);
                document.querySelector('.user-reviews').innerText = "";
                data.reviews.forEach(r => {
                    let li = document.createElement('li');
                    li.innerText = r.details;
                    document.querySelector('.user-reviews').appendChild(li);
                });
            })
            document.querySelector(".review-section-details").classList.toggle('hide');
        })
    </script>
    
</body>
</html>